body {
    background-color: #f8f9fa;
}

.navbar {
    margin-bottom: 20px;
}

.card {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

/* Стили для профиля */
.card {
    border-radius: 10px;
}

.card-header {
    border-radius: 10px 10px 0 0 !important;
}

.form-control:disabled {
    background-color: #f8f9fa;
    opacity: 1;
}